@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Medicoz | Health and Medical HTML Template | About Us</title>

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/css/color-themes/scarlet.css" rel="stylesheet">

    <!--Color Switcher Mockup-->
    @* <link href="/css/color-switcher-design.css" rel="stylesheet"> *@

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>


<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>
    
  

    <!--Page Title-->
<section class="page-title" style="background-image: url('@Url.Content("~/images/background/8.jpg")');">
        <div class="auto-container">
            <div class="title-outer">            
                <h1>Về chúng tôi</h1>
                <ul class="page-breadcrumb">
                    <li><a href="~/Home/Index">Trang chủ</a></li>
                    <li>Về chúng tôi</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

     <!-- About Section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="sub-title">VỀ CHÚNG TÔI</span>
                            <h2>Chúng tôi thiết lập tiêu chuẩn trong nghiên cứu, hơn nữa là chăm sóc lâm sàng.</h2>
                            <span class="divider"></span>
                           <p>Chúng tôi cung cấp các dịch vụ y tế toàn diện, giúp mọi người có cơ hội nhận được sự chăm sóc y tế chất lượng cao.</p>
<p>Phòng khám của chúng tôi đã phát triển thành một cơ sở đạt chuẩn quốc tế trong việc điều trị mất răng, thẩm mỹ nha khoa và phục hồi răng miệng tiên tiến. Chúng tôi là một trong những nhà cung cấp cấy ghép nha khoa có trình độ cao tại Úc, với hơn 30 năm kinh nghiệm và đào tạo chất lượng.</p>
                        </div>
                        <div class="link-box">
                            <figure class="signature"><img src="~/images/resource/signature.png" alt=""></figure>
                            <a href="~/Services/Index" class="theme-btn btn-style-one"><span class="btn-title">Về dịch vụ</span></a>
                        </div>
                    </div>
                </div>

                <!-- Images Column -->
                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-link">
                            <a href="https://www.youtube.com/watch?v=4UvS3k8D4rs" class="play-btn lightbox-image" data-fancybox="images"><span class="flaticon-play-button-1"></span></a>
                        </div>
                        <figure class="image-1"><img src="~/images/resource/image-1.png" alt=""></figure>
                        <figure class="image-2"><img src="~/images/resource/image-2.png" alt=""></figure>
                        <figure class="image-3">
                            <span class="hex"></span>
                            <img src="~/images/resource/image-3.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    
  <!-- Fun Fact Section Two -->
<section class="fun-fact-section-two">
    <div class="auto-container">
        <div class="row">
            <!-- Column 1: Năm kinh nghiệm -->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                    <h4 class="counter-title">Năm kinh nghiệm</h4>
                    <span class="count-text" data-speed="3000" data-stop="25">0</span>
                </div>
            </div>

            <!-- Column 2: Đội ngũ bác sĩ -->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-team"></span></div>
                    <h4 class="counter-title">Đội ngũ bác sĩ</h4>
                    <span class="count-text" data-speed="9000" data-stop="@ViewBag.NhanViensCount">0</span>
                </div>
            </div>

            <!-- Column 3: Số bệnh nhân hài lòng -->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                    <h4 class="counter-title">Số bệnh nhân hài lòng</h4>
                    <span class="count-text" data-speed="3000" data-stop="@ViewBag.KhachHangCount">0</span>
                </div>
            </div>
        </div>
    </div>
</section>


    @* <!-- Appointment Section Three -->
    <section class="appointment-section-three" style="background-image: url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="row">

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <span class="title">Need a Doctor for Check-up?</span>
                        <h3>Just Make an Appointment <br>and You’re Done!</h3>
                        <div class="text">Get Your Quote or Call: <strong>(0080) 123-453-789</strong></div>

                        <div class="timetable-info">
                            <h3>Opening Hours</h3>
                            <ul class="timing-list">
                                <li>Monday - Thursday <span>08:00 - 20:00</span></li>
                                <li>Friday <span>09:00 - 19:00</span></li>
                                <li>Saturday - Thursday <span>09:00 - 18:00</span></li>
                                <li>Sunday - Thursday <span>09:00 - 18:00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="appointment-form default-form">
                            <!--Comment Form-->
                            <form action="#" method="post" id="email-form">
                                <div class="form-group">
                                    <div class="response"></div>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Your Name">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Your Email *">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Your Phone">
                                </div>
                                
                                <div class="form-group">
                                    <textarea name="contact_message" placeholder="Tell us about Pasent"></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="button" name="submit-form"><span class="btn-title">Submit Query</span></button>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!--End Appointment Section Three --> *@

    <!-- Skill Section -->
    <section class="skill-section">
        <div class="outer-container clearfix">
            <div class="skill-column">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">CÔNG NGHỆ MỚI NHẤT</span>
                        <h2>Thiết bị cao cấp</h2>
                        <span class="divider"></span>
                        <div class="text">Trong ngành nha khoa hiện đại, việc sử dụng thiết bị cao cấp là yếu tố then chốt giúp đảm bảo hiệu quả điều trị và mang lại sự thoải mái tối đa cho bệnh nhân. Các thiết bị này không chỉ giúp bác sĩ nha khoa thực hiện các thủ tục chính xác mà còn tối ưu hóa quy trình điều trị.</div>
                    </div>

                    @* <!--Skills-->
                    <div class="skills">
                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">CARDIO-ONCOLOGY</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="55">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="55"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">HEART ASSESSMENT</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="72">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="72"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Dental SURGERY</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="88">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="88"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">HEART ASSESSMENT</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="78">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="78"></div></div>
                            </div>
                        </div>
                    </div> *@

                    @* <div class="btn-box"><a href="~/Contact/AboutUs" class="theme-btn btn-style-three"><span class="btn-title">Tìm hiểu thêm</span></a></div> *@
                </div>
            </div>

            <div class="image-column" style="background-image: url('@Url.Content("~/images/resource/image-7.jpg")');">
                <div class="image-box">
                    <figure class="image"><img src="~/images/resource/image-7.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
    <!--End Skill Section -->

    
    
    <!-- Services Section Three-->
    <section class="services-section-three">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="sub-title">Dịch vụ của chúng tôi</span>
                <h2>Nụ cười của khách hàng là trên hết</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-dentist"></span>
                        <h5><a href="#">Nha Khoa Tổng Quát</a></h5>
                        <div class="text">Nha khoa, còn được gọi là y học răng miệng, là một nhánh của y học bao gồm nghiên cứu, chẩn đoán, phòng ngừa và điều trị các bệnh về răng miệng.</div>
                        <span class="icon-float flaticon-dentist"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-braces"></span>
                        <h5><a href="#">Chỉnh nha</a></h5>
                        <div class="text">Chỉnh nha là một lĩnh vực trong nha khoa chuyên về việc chẩn đoán, phòng ngừa và điều trị các rối loạn về sự phát triển và cấu trúc của răng và hàm. </div>
                        <span class="icon-float flaticon-braces"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-implant"></span>
                        <h5><a href="#">Cấy ghép răng</a></h5>
                        <div class="text">Cấy ghép răng là một phương pháp điều trị nha khoa tiên tiến, trong đó một trụ titanium được cấy vào xương hàm để thay thế chân răng đã mất. </div>
                        <span class="icon-float flaticon-implant"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-teeth"></span>
                        <h5><a href="#">Tẩy trắng răng</a></h5>
                        <div class="text">Trắng răng là phương pháp nha khoa giúp làm sáng màu răng, loại bỏ vết ố và cải thiện vẻ đẹp nụ cười. </div>
                        <span class="icon-float flaticon-teeth"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-dental-insurance"></span>
                        <h5><a href="#">Chỉnh hình thẩm mỹ răng miệng</a></h5>
                        <div class="text">Chỉnh hình thẩm mỹ răng miệng là một nhánh của nha khoa tập trung vào việc cải thiện vẻ ngoài của răng, nướu và nụ cười.</div>
                        <span class="icon-float flaticon-dental-insurance"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-tooth"></span>
                        <h5><a href="#">Điều trị nướu</a></h5>
                        <div class="text">Điều trị nướu là một phần quan trọng trong nha khoa, tập trung vào việc chẩn đoán và điều trị các bệnh về nướu như viêm nướu và bệnh nha chu.</div>
                        <span class="icon-float flaticon-tooth"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- Clients Section -->
    <section class="clients-section">
        <div class="auto-container">

            <!-- Sponsors Outer -->
            <div class="sponsors-outer">
                <!--clients carousel-->
                <ul class="clients-carousel owl-carousel owl-theme">
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/1.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/2.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/3.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/4.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/5.png" alt=""></a> </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section -->
</div>

</body>

<!-- Mirrored from skyethemes.com/html/2022/medicoz/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:36:40 GMT -->
</html>


