<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebQuanLyNhaKhoa</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebQuanLyNhaKhoa.styles.css" asp-append-version="true" />

	<script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
	<header>
		<button id="navBtn" style="font-size:30px">&#9776;</button>
	</header>

	<main id="main">
		@RenderBody()
	</main>

	<nav id="sidenav" class="sidenav">
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</nav>

	<script>
		const navBtn = document.getElementById("navBtn");
		const nav = document.getElementById("sidenav");
		navBtn.addEventListener("click", function () {
			nav.classList.toggle("active");
			document.getElementById("main").classList.toggle("active");
		});
	</script>

	<footer class="border-top footer text-muted">
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
