@model WebQuanLyNhaKhoa.Models.RegisterVM
@{
	ViewData["Title"] = "Register";
	Layout = null;
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodePen - A Pen by Mohithpoojary</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css">
	<link rel="stylesheet" href="./css/Login.css">
</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input asp-for="@Model.TenDangNhap" type="text" class="login__input form-control" placeholder="User name / Email"><br>
						<span asp-validation-for="@Model.TenDangNhap" style="color: red"></span>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input asp-for="@Model.MatKhau" type="password" class="login__input form-control" placeholder="Password"><br>
						<span asp-validation-for="@Model.MatKhau" style="color: red"></span>
					</div>
					<button type="submit" class="button login__submit">
						<span class="button__text">Register Now</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				<div class="social-login">
					<h3>log in via</h3>
					<div class="social-icons">
						<a href="#" class="social-login__icon fab fa-instagram"></a>
						<a href="#" class="social-login__icon fab fa-facebook"></a>
						<a href="#" class="social-login__icon fab fa-twitter"></a>
					</div>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
	<!-- partial -->



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</html>