@model WebQuanLyNhaKhoa.Data.DanhSachKham

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
}

<main>
    <div class="p-4 sm:p-6 xl:p-10">
        <div class="rounded-md border border-stroke bg-whiter p-4 py-3 dark:border-strokedark dark:bg-meta-4 sm:px-6 sm:py-5.5 xl:px-7.5">
            <nav>
                <ol class="flex flex-wrap items-center gap-3">
                    <li>
                        <a asp-action="Index" class="flex items-center gap-3.5 font-medium hover:text-primary">
                            Home
                        </a>
                    </li>
                    <li class="flex items-center gap-3 font-medium text-black ">
                        <svg class="fill-current" width="6" height="15" viewBox="0 0 6 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.80682 0.818303L2.05682 14.7501H0.255682L4.00568 0.818303H5.80682Z" fill=""></path>
                        </svg>
                        Create
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <!-- Breadcrumb Start -->
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
            <h2 class="font-bold text-black text-2xl">
                Created Paitent Form
            </h2>

            <nav>
                <ol class="flex items-center gap-2">
                    <li>
                        <a class="font-medium" href="index.html">Dashboard /</a>
                    </li>
                    <li class="font-medium text-primary text-black">Created Paitent Form</li>
                </ol>
            </nav>
        </div>
        <!-- Breadcrumb End -->

        <!-- ====== Form Layout Section Start -->
        <div class="grid grid-cols-1 gap-9 sm:grid-cols-2">
            <div class="flex flex-col gap-9">
                <!-- Contact Form Two -->
                <div class="rounded-sm border border-stroke bg-white p-[20px] shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                        <h3 class="font-medium text-black text-center">
                            Question Form
                        </h3>
                    </div>
                    <div>
                        <h3 class="font-medium text-black">
                            Do you have any medical history? If so, can you describe it in more detail?
                        </h3>
                        <div class="my-5 mx-3">
                            <input type="radio" name="name" value="" />
                            <span>Yes</span>
                        </div>
                        <div class="my-5 mx-3">
                            <input type="radio" name="name" value="" />
                            <span>No</span>
                        </div>
                        <div class="my-5 mx-3">

                            <textarea rows="6" placeholder="Type here" class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"></textarea>
                        </div>
                    </div>
                    <div>
                        <h3 class="font-medium text-black">
                            Are you allergic to any medications or foods?
                        </h3>
                        <div class="my-5 mx-3">
                            <input type="radio" name="allergic" value="" />
                            <span>Yes</span>
                        </div>
                        <div class="my-5 mx-3">
                            <input type="radio" name="allergic" value="" />
                            <span>No</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-9">
                <!-- Survey Form -->
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                        <h3 class="font-medium text-black text-center">
                            Patient Form
                        </h3>
                    </div>
                    <form asp-action="Create" class="p-[20px]" method="post" enctype="multipart/form-data">
                        <div class="p-6.5">
                            <!--ID Kham Start-->
                            <div class="my-5 mx-3">
                                <label asp-for="Idkham" class="mb-3 block text-sm font-medium text-black">
                                    ID khám:
                                </label>
                                <input asp-for="Idkham" type="text" placeholder="Enter your id patient" maxlength="3" class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input  dark:focus:border-primary">
                                <span asp-validation-for="Idkham" class="text-danger"></span>
                            </div>
                            <!--ID Kham End-->
                            <!--Name Patient Start-->
                            <div class="my-5 mx-3">
                                <label asp-for="IdbenhNhan" class="mb-3 block text-sm font-medium text-black">
                                    Tên bệnh nhân:
                                </label>
                                <select asp-for="IdbenhNhan" class="form-control" asp-items="ViewBag.IdbenhNhan"></select>
                                <span asp-validation-for="IdbenhNhan" class="text-danger"></span>
                            </div>
                            <!--Name Patient End-->
                            <!--TenNV Patient Start-->
                            <div class="my-5 mx-3">
                                <label asp-for="MaNv" class=" mb-3 block text-sm font-medium text-black">
                                    Tên nhân viên:
                                </label>
                                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                            </div>
                            <!--TenNV Patient Start-->
                            <!--Tel Patient Start-->
                            <div class="my-5 mx-3">
                                <label asp-for="NgayKham" class="mb-3 block text-sm font-medium text-black">
                                    Ngày khám:
                                </label>
                                <input asp-for="NgayKham" class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input  dark:focus:border-primary">
                            </div>
                            <!--Tel Patient End-->
                            <div class="my-5 mx-3">
                                <label class="mb-3 block text-sm font-medium text-black">
                                    Any comments or suggestions?
                                </label>
                                <textarea rows="6" placeholder="Type here" class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input  dark:focus:border-primary"></textarea>
                            </div>

                            <button type="submit" class="w-full rounded-lg px-4 py-2 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">Create Patient</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ====== Form Layout Section End -->
    </div>
</main>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idkham" class="control-label"></label>
                <input asp-for="Idkham" class="form-control" />
                <span asp-validation-for="Idkham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdbenhNhan" class="control-label"></label>
                <select asp-for="IdbenhNhan" class ="form-control" asp-items="ViewBag.IdbenhNhan"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label"></label>
                <select asp-for="MaNv" class ="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayKham" class="control-label"></label>
                <input asp-for="NgayKham" class="form-control" />
                <span asp-validation-for="NgayKham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
