@model WebQuanLyNhaKhoa.Data.NhanVien
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index">
    <button  class="rounded-lg px-4 py-2 border-2 border-violet-500 text-black-500 hover:bg-blue-600 hover:text-blue-100 duration-300">
        ← Quay về lại danh sách
    </button>
</a>


<div class="flex justify-center items-center h-screen">
    <div class="container p-[20px] max-w-[700px] max-h-[500px] bg-white rounded-xl">
        <div class="relative">
            <h1 class="text-[32px] font-bold">New Employee</h1>
            <span class="absolute inline-block w-[70px] h-[4px] bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded-xl"></span>
        </div>
        <div class="flex justify-center gap-10 mt-[10px]">
            <form asp-action="Create" method="post" class="flex-wrap flex justify-around items-center" enctype="multipart/form-data">
                <div class="w-6/12">
                        <div>
                            <label asp-for="Ten" class="text-[20px] font-bold">Full Name:</label>
                            <input asp-for="Ten" type="text"
                                   class="mt-[10px] block w-9/12 py-[5px] px-[10px] outline-none rounded-xl border-solid border-[1px] border-stone-400 text-[16px] transition-all border-b-2 focus:border-fuchsia-400"
                                   placeholder="Enter your name" />
                            <span asp-validation-for="Ten" class="text-danger"></span>
                        </div>
                        <div class="mt-[10px]">
                            <label asp-for="Sdt" class="text-[20px] font-bold ">Telephone:</label>
                            <input asp-for="Sdt" type="text"
                                   class="mt-[10px] block w-9/12 py-[5px] px-[10px] outline-none rounded-xl border-solid border-[1px] border-stone-400 text-[16px] transition-all border-b-2 focus:border-fuchsia-400 group-focus"
                                   placeholder="Enter your tel" />
                            <span asp-validation-for="Sdt" class="text-danger"></span>
                        </div>
                        <div class="mt-[10px]">
                            <label asp-for="MaCv" class="text-[20px] font-bold">Loại Chức vụ:</label>
                            <select asp-for="MaCv" class="mt-[10px] w-9/12 border border-solid py-[5px] px-[10px] rounded-xl transition-all border-b-2 focus:border-fuchsia-400 group-focus " asp-items="ViewBag.MaCv"></select>
                        </div>
                </div>
                <div class="w-6/12">
                    <div>
                        <label asp-for="TenDangNhap" class="text-[20px] font-bold">Loại Nhân viên</label>
                        <select asp-for="TenDangNhap" class="mt-[10px] w-9/12 block border border-solid py-[5px] px-[10px] rounded-xl transition-all border-b-2 focus:border-fuchsia-400 group-focus " asp-items="ViewBag.TenDangNhap"></select>
                    </div>
                    <div class="mt-[10px]">
                        <label asp-for="KinhNghiem" class="text-[20px] font-bold ">Experience:</label>
                        <input asp-for="KinhNghiem" type="text"
                               class="mt-[10px] block w-9/12 py-[5px] px-[10px] outline-none rounded-xl border-solid border-[1px] border-stone-400 text-[16px] transition-all border-b-2 focus:border-fuchsia-400 group-focus" />
                    </div>
                    <div class="mt-[10px]">
                        <label asp-for="Hinh" class="text-[20px] font-bold">Image</label>
                        <input asp-for="Hinh" type="file"
                               class="mt-[10px] block w-9/12 py-[5px] px-[10px] outline-none rounded-xl border-solid border-[1px] border-stone-400 text-[16px] transition-all border-b-2 focus:border-fuchsia-400"
                               accept="image/*" />
                        <span asp-validation-for="Hinh" class="text-danger"></span>
                    </div>
                 </div>
                <div class="mt-[10px] w-full">
                    <button alue="Create" type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Add Employee
                        </span>
                    </button>
                 
                </div>
            </form>
        </div>
    </div>
</div>
