header.topNav{
    width: 100%;
    background-color: salmon;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px;
    transition-duration: 0.5s;
}

header > nav.navItem{
    position: relative;
}