@model WebQuanLyNhaKhoa.Data.LichSuNhapXuat

   
@{
    ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<style>
    h1 {
        text-align: center;
    }

    .back {
        padding: 15px;
    }
</style>
<h1>Tạo mới</h1>

<h4>LichSuNhapXuat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <select asp-for="NoiDung" class="form-control" asp-items="ViewBag.Contents"></select>
            </div>
            <div class="form-group">
                <label asp-for="IddungCu" class="control-label"></label>
                <select asp-for="IddungCu" class="form-control" asp-items="ViewBag.IddungCu"></select>
            </div>

            <div class="form-group">
                <label asp-for="SoLuongNhapXuat" class="control-label"></label>
                <input asp-for="SoLuongNhapXuat" class="form-control" />
                <span asp-validation-for="SoLuongNhapXuat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NgayNhap" class="control-label"></label>
                <input asp-for="NgayNhap" class="form-control" />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="back" asp-action="Index">Trở lại trang chính lịch sử</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
