@model WebQuanLyNhaKhoa.DTO.BenhNhanDTO
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true" style="margin-left:500px; height:450px; margin-top:100px">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="margin-left:20px">
            <div style="margin-top:-300px;">
                <div class="modal-header" style="margin-bottom:30px;">
                    <h5 class="modal-title" id="qrModalLabel">Mã QR Lịch Hẹn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" style="margin-bottom:30px;">
                    <!-- QR Code -->
                    <img id="qrCodeImage" src="" alt="QR Code" class="img-fluid mb-3" style="max-width: 200px;">
                    <div>
                        <!-- Buttons to download QR and image -->
                        <a id="qrCodeUrl" href="" class="btn btn-primary mx-2" download>
                            Tải mã QR
                        </a>
                        <a id="pdf" href="#" class="btn btn-secondary mx-2" download>
                            Tải hình ảnh
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Đăng ký khám</p>
                <h1 class="mb-4">Đặt lịch hẹn khám bác sĩ</h1>
                <p class="mb-4">Hãy đăng kí lịch khám để gặp gỡ các nha sĩ có nhiều năm kinh nghiệm của chúng tôi. Chúng tôi xin hứa sẽ giúp cho hàm răng của bạn trắng sáng và ngày càng mạnh khỏe hơn</p>
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Hãy gọi chúng tôi</i></p>
                        <h5 class="mb-0">+0348859428</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Email của chúng tôi</p>
                        <h5 class="mb-0">nhakhoahoanmy@gmail.com</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form id="createBenhNhan" class="row g-3 w-100" method="post" enctype="multipart/form-data">
                        <div class="col-12 col-sm-6">
                            <label asp-for="HoTen" class="control-label">Họ tên</label>
                            <input asp-for="HoTen" required type="text" class="form-control border-0" style="height: 55px;">
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div>
                                <input asp-for="Gioi" type="radio" name="gender" value="True" />
                                <span>Nữ</span>
                            </div>
                            <div>
                                <input asp-for="Gioi" type="radio" name="gender" value="False" />
                                <span>Nam</span>
                            </div>
                            <span asp-validation-for="Gioi" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="NamSinh" class="control-label">Năm sinh</label>
                            <input asp-for="NamSinh" type="text" placeholder="Nhập năm sinh" class="form-control border-0" style="height: 55px;">
                            <span asp-validation-for="NamSinh" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                            <input asp-for="Sdt" type="tel" class="form-control border-0" style="height: 55px;">
                            <span asp-validation-for="Sdt" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="EmailBn" class="control-label">Email</label>
                            <input asp-for="EmailBn" type="email" class="form-control border-0" style="height: 55px;width: 100%">
                            <span asp-validation-for="EmailBn" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                            <input asp-for="DiaChi" type="text" class="form-control border-0" style="height: 55px;width: 100%">
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6" style=" width: 100%;">
                            <label asp-for="IddichVu" class="control-label">Chọn chuyên nghành</label>
                            <select asp-for="IddichVu" id="IddichVu" class="form-control IddichVu" asp-items="ViewBag.DichVuList" required>
                                <option value="" selected>- Chọn chuyên ngành -</option>
                            </select>
                            <span asp-validation-for="IddichVu" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6" style=" width: 100%;">
                            <label asp-for="MaNv" class="control-label">Các bác sĩ chuyên ngành</label>
                            <select asp-for="MaNv" id="MaNv" name="MaNv" class="MaNv" required>
                                <option value="">Chọn bác sĩ</option>
                            </select>
                            <span asp-validation-for="MaNv" class="text-danger"></span>
                        </div>


                        <div class="col-12 col-sm-6" style=" width: 100%;">
                            <div class="date" id="date" data-target-input="nearest">
                                <label asp-for="NgayKhamDau" class="control-label">Ngày Khám Đầu</label>
                                <input asp-for="NgayKhamDau" type="date" id="bookingDate"
                                       class="form-control border-0 datetimepicker-input"
                                       placeholder="Choose Date"
                                       data-target="#date" data-toggle="datetimepicker"
                                       style="height: 55px;"
                                       value="@ViewBag.SelectedDate">
                                <span asp-validation-for="NgayKhamDau" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6" style=" width: 100%;">
                            <div class="date" id="date" data-target-input="nearest">
                                <label asp-for="time" class="control-label">Ca khám</label>
                                <select id="bookingTime" name="time" required>
                                    <option value="">Chọn ca khám</option>
                                    @if (!string.IsNullOrEmpty(ViewBag.SelectedTime))
                                    {
                                        <option value="@ViewBag.SelectedTime" selected>@ViewBag.SelectedTime</option>
                                    }
                                </select>
                                <span asp-validation-for="time" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="TrieuChung" class="control-label">Triệu Chứng</label>
                            <textarea asp-for="TrieuChung" class="form-control custom-textarea" style="height: 150px; width: 208%"></textarea>
                            <span asp-validation-for="TrieuChung" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100 py-3">Đặt lịch khám</button>
                        </div>
                        <div class="col-12">
                            <a id="qrCodeUrl" href="#" style="display:none;" target="_blank">Tải mã QR</a>
                        </div>
                        <div class="col-12">
                            <a id="imageUrl" href="#" style="display:none;" target="_blank">Tải hình ảnh lịch khám</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-textarea {
        height: 200px; /* Make the textarea a bit taller */
        padding: 12px; /* Add padding for better readability */
        font-size: 1rem; /* Increase font size for better legibility */
        border-radius: 8px; /* Rounded corners for a softer look */
        border: 1px solid #ccc; /* Light border */
        resize: vertical; /* Allow vertical resizing only */
        background-color: #f8f9fa; /* Light background color for better contrast */
        transition: all 0.3s ease-in-out; /* Smooth transition on focus */
    }

        .custom-textarea:focus {
            border-color: #007bff; /* Focus border color */
            outline: none; /* Remove outline on focus */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow effect on focus */
            background-color: #ffffff; /* Change background on focus */
        }

        .custom-textarea::placeholder {
            color: #aaa; /* Lighter placeholder text */
        }
</style>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        $(document).ready(function () {
            console.log("Document ready!");

            let lastSelectedTime = '';
            $('#IddichVu').change(function () {

                var dichVuId = $(this).val();
                console.log("Selected DichVu ID: ", dichVuId);

                $.ajax({
                    url: '/BookAppointment/GetNhanViensByDichVu',
                    type: 'GET',
                    data: { dichVuId: dichVuId },
                    success: function (data) {
                        console.log("Doctors fetched: ", data);
                        $('#MaNv').empty();
                        $('#MaNv').append('<option value="">Chọn bác sĩ</option>');

                        $.each(data, function (index, nhanVien) {
                            $('#MaNv').append('<option value="' + nhanVien.Id + '">' + nhanVien.Ten + '</option>');
                        });
                    },
                    error: function (error) {
                        console.error("Error fetching doctors:", error);
                    }
                });
            });


            $('#MaNv').change(function () {
                var doctorId = $(this).val();
                console.log("Selected Doctor ID: ", doctorId);

                var selectedDate = $('#bookingDate').val();

                if (doctorId && selectedDate) {
                    fetchAvailableSlots(doctorId, selectedDate);
                }
            });

            $('#bookingDate').change(function () {
                var selectedDate = $(this).val();
                console.log("Selected Date: ", selectedDate);

                var doctorId = $('#MaNv').val();

                if (selectedDate && doctorId) {
                    fetchAvailableSlots(doctorId, selectedDate);
                }
            });
            lastSelectedTime = '@ViewBag.SelectedTime';
            console.log('time at first', lastSelectedTime);
            $('#bookingTime').change(function () {

                lastSelectedTime = $(this).val();
                console.log("The time slot user pick: ", lastSelectedTime);
            });

            function fetchAvailableSlots(doctorId, selectedDate) {
                console.log("Fetching available slots for doctor " + doctorId + " and date " + selectedDate);

                fetch(`/BookAppointment/getAvailableSlots?ngayKham=${selectedDate}&maNv=${doctorId}`)
                    .then(response => {
                        response.text().then(errorMessage => {
                            alert(errorMessage);
                        }).catch(() => {
                            alert("An error occurred, but no error message was provided by the server.");
                        });
                        return response.json();
                    })
                    .then(result => {
                        console.log("Available slots: ", result);

                        const timeSelect = $('#bookingTime');
                        timeSelect.empty();
                        timeSelect.append('<option value="">Chọn ca khám</option>');

                        let disabledTimes = result.disabledSlots;

                        let firstAvailableSlot = '';

                        result.availableSlots.forEach(slot => {
                            timeSelect.append(`<option value="${slot}">${slot}</option>`);

                            if (!firstAvailableSlot && !disabledTimes.includes(slot)) {
                                firstAvailableSlot = slot;
                            }
                        });


                        result.disabledSlots.forEach(slot => {
                            timeSelect.append(`<option value="${slot}" disabled>${slot} - Ca này đã kín</option>`);
                        });


                        if (lastSelectedTime && !disabledTimes.includes(lastSelectedTime)) {
                            $('#bookingTime').val(lastSelectedTime);
                            console.log("Last selected time restored:", lastSelectedTime);
                        } else if (firstAvailableSlot && lastSelectedTime === '') {

                            $('#bookingTime').val(firstAvailableSlot);
                            console.log("First available time set as default:", firstAvailableSlot);
                        }


                        if (lastSelectedTime && disabledTimes.includes(lastSelectedTime)) {
                            alert("Ca khám bạn đã chọn đã kín, vui lòng chọn lại.");
                            $('#bookingTime').val('');
                        }

                    })
                    .catch(error => {
                        console.error("Error fetching available slots:", error);
                        // alert("An error occurred while fetching available slots.");
                    });
            }




            $('#createBenhNhan').submit(function (event) {
                event.preventDefault();
                console.log("Form submission triggered");

                const selectedTime = $('[name="time"]').val();
                const selectedDay = $('[name="NgayKhamDau"]').val();

                if (!selectedTime || !selectedDay) {
                    alert("Xin hãy chọn ngày và ca khám.");
                    return;
                }

                console.log("Selected Time: ", selectedTime);
                console.log("Selected Day: ", selectedDay);

                const benhNhanData = {
                    HoTen: $('[name="HoTen"]').val(),
                    Gioi: $('[name="gender"]:checked').val() === "True",
                    NamSinh: $('[name="NamSinh"]').val(),
                    Sdt: $('[name="Sdt"]').val(),
                    DiaChi: $('[name="DiaChi"]').val(),
                    EmailBn: $('[name="EmailBn"]').val(),
                    IddichVu: $('[name="IddichVu"]').val(),
                    MaNv: $('[name="MaNv"]').val(),
                    TrieuChung: $('[name="TrieuChung"]').val(),
                    NgayKhamDau: selectedDay,
                    Time: convertToDateTime(selectedTime, selectedDay)
                };

                console.log("Data being sent:", benhNhanData);

                fetch('/BookAppointment/api/PostBenhNhan', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(benhNhanData)
                })
                    .then(response => {
                        if (response.ok) {
                            alert("Đăng ký khám thành công!");
                            return response.json();
                        } else {
                            alert("Đăng ký khám thất bại.");
                        }
                    })
                    .then(data => {
                        
                        // Display the QR code and download link
                        $('#qrCodeUrl').attr('href', data.QrCodeUrl).show();
                        $('#imageUrl').attr('href', data.ImageUrl).show();
                        $('#qrCodeImage').attr('src', data.QrCodeImage).show();
                        $('#pdf').attr('href', data.Pdf).show();

                        console.log("QR Code Download URL: ", data.QrCodeUrl);
                        console.log("Image Download URL: ", data.ImageUrl);
                        console.log("Image URL: ", data.QrCodeImage);
                        $('#qrModal').modal('show');
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Lỗi khi đăng ký khám.");
                    });

            });

            function convertToDateTime(timeString, selectedDay) {
                const [time, ampm] = timeString.split(" ");
                const [hours, minutes] = time.split(":").map(Number);

                let adjustedHours = hours;
                if (ampm === "PM" && adjustedHours < 12) {
                    adjustedHours += 12;
                } else if (ampm === "AM" && adjustedHours === 12) {
                    adjustedHours = 0;
                }

                const [year, month, day] = selectedDay.split('-');

                const dateTimeString = `${year}-${month}-${day}T${adjustedHours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:00.000`;

                console.log("Generated DateTime string:", dateTimeString);

                return dateTimeString;
            }
        });

    </script>
}
 <style>
     #qrModal .modal-content {
         border-radius: 10px;
         border: none;
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     }

     #qrModal .modal-header {
         border-bottom: none;
     }

     #qrModal .btn-primary {
         background-color: #007bff;
         border-color: #007bff;
     }

     #qrModal .btn-secondary {
         background-color: #6c757d;
         border-color: #6c757d;
     }

    #qrModal .modal-dialog-left {
        margin-left: auto;
        margin-right: auto;
    }
 </style>


