<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Mirrored from skyethemes.com/html/2022/medicoz/error-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:36:46 GMT -->
<head>
    <meta charset="utf-8">
    <title>Medicoz | Health and Medical HTML Template | Error Page</title>

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/css/color-themes/default-theme.css" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link href="~/css/color-switcher-design.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>-->
    <!--<script src="js/respond.js"></script>-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Error Section -->
    <section class="error-section">
        <div class="auto-container">
            <div class="content-box">
                <figure class="error-image"><img src="~/images/icons/error.png" alt=""></figure>
                <h2>Page not found</h2>
                <div class="text">Please try one of the following pages:</div>
                <a href="~/Home/Index" class="theme-btn btn-style-one"><span class="btn-title">Trang chủ</span></a>
                <a href="~/Contact/Index" class="theme-btn btn-style-one"><span class="btn-title">Liên hệ chúng tôi</span></a>
            </div>
        </div>
    </section>
    <!-- End Error Section -->

</div><!-- End Page Wrapper -->

</body>
</html>
