@model WebQuanLyNhaKhoa.Data.ChiTietHoaDon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ChiTietHoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdchiTiet" />
            <div class="form-group">
                <label asp-for="IddonThuoc" class="control-label"></label>
                <input asp-for="IddonThuoc" class="form-control" />
                <span asp-validation-for="IddonThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdhoaDon" class="control-label"></label>
                <select asp-for="IdhoaDon" class="form-control" asp-items="ViewBag.IdhoaDon"></select>
                <span asp-validation-for="IdhoaDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IddieuTri" class="control-label"></label>
                <input asp-for="IddieuTri" class="form-control" />
                <span asp-validation-for="IddieuTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkham" class="control-label"></label>
                <select asp-for="Idkham" class="form-control" asp-items="ViewBag.Idkham"></select>
                <span asp-validation-for="Idkham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhuongThucThanhToan" class="control-label"></label>
                <input asp-for="PhuongThucThanhToan" class="form-control" />
                <span asp-validation-for="PhuongThucThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDon" class="control-label"></label>
                <input asp-for="TenDon" class="form-control" />
                <span asp-validation-for="TenDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDieuTri" class="control-label"></label>
                <input asp-for="TenDieuTri" class="form-control" />
                <span asp-validation-for="TenDieuTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TienThuoc" class="control-label"></label>
                <input asp-for="TienThuoc" class="form-control" />
                <span asp-validation-for="TienThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TienDieuTri" class="control-label"></label>
                <input asp-for="TienDieuTri" class="form-control" />
                <span asp-validation-for="TienDieuTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayLap" class="control-label"></label>
                <input asp-for="NgayLap" class="form-control" />
                <span asp-validation-for="NgayLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailBn" class="control-label"></label>
                <input asp-for="EmailBn" class="form-control" />
                <span asp-validation-for="EmailBn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
